<!--여기가 화면에 보여지는 곳 (views) -->

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
       
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 Nambin
        main
            div#welcome
                form
                    input(placeholder="방네임" , required , type="text")
                    button JOIN / CREATE ROOM
            div#room 
                h3
                ul 
                form#msg
                    input(placeholder="메시지" , required , type="text")
                    button 전송
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")
    