<!--여기가 화면에 보여지는 곳 (views) -->

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title video clone coding
       
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 video clone coding
        main
            div#welcome
                form
                    input(placeholder = "방 제목" , required , type = "text")
                    button 방 입장!!
            div#call
                div#myStream
                    video#myFace(autoplay,playsinline, width="400", height="400")
                    button#mute 음소거
                    button#camera 카메라
                    select#cameras
                    video#peerFace(autoplay,playsinline, width="400", height="400")
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")
    